<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Console</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <base href="/">

</head>

<body ng-app="mainApp" ng-controller="ApplicationController">

    <!--Header-->
    <ng-include src="'/app-views/core/header.view.html'"></ng-include>

    <!--TopNav
    <ng-include src="'/app-views/core/top-nav.view.html'"></ng-include>
-->
    <div class="row" style="margin-top: 20px; margin-left: 0px; margin-right: 0px;">
        <div ui-view></div>
    </div>

    <!--Footer-->
    <ng-include src="'/app-views/core/footer.view.html'"></ng-include>

    <!-- Modal -->
    <ng-include src="'/app-views/core/modal.view.html'"></ng-include>

    <script src="../js/libs.js"></script>
    <script src="../js/pApp.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(document).ready(
                function() {
                    $("html").niceScroll({cursorcolor:"#000"});
                }
        );
    </script>

    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

</body>

</html>
