/*============    ШРИФТЫ    ===========*/
@font-face {
  font-family: 'PlayfairDisplaySCBlack';
  src: url('fonts/PlayfairDisplaySCBlack.eot');
  src: url('fonts/PlayfairDisplaySCBlack.eot') format('embedded-opentype'), url('fonts/PlayfairDisplaySCBlack.woff2') format('woff2'), url('fonts/PlayfairDisplaySCBlack.woff') format('woff'), url('fonts/PlayfairDisplaySCBlack.ttf') format('truetype'), url('fonts/PlayfairDisplaySCBlack.svg#PlayfairDisplaySCBlack') format('svg');
}
@font-face {
  font-family: 'PlayfairDisplaySCBold';
  src: url('fonts/PlayfairDisplaySCBold.eot');
  src: url('fonts/PlayfairDisplaySCBold.eot') format('embedded-opentype'), url('fonts/PlayfairDisplaySCBold.woff2') format('woff2'), url('fonts/PlayfairDisplaySCBold.woff') format('woff'), url('fonts/PlayfairDisplaySCBold.ttf') format('truetype'), url('fonts/PlayfairDisplaySCBold.svg#PlayfairDisplaySCBold') format('svg');
}
@font-face {
  font-family: 'PlayfairDisplaySCRegular';
  src: url('fonts/PlayfairDisplaySCRegular.eot');
  src: url('fonts/PlayfairDisplaySCRegular.eot') format('embedded-opentype'), url('fonts/PlayfairDisplaySCRegular.woff2') format('woff2'), url('fonts/PlayfairDisplaySCRegular.woff') format('woff'), url('fonts/PlayfairDisplaySCRegular.ttf') format('truetype'), url('fonts/PlayfairDisplaySCRegular.svg#PlayfairDisplaySCRegular') format('svg');
}
.bold {
  font-family: PlayfairDisplaySCBold;
}
.med {
  font-family: PlayfairDisplaySCBlack;
}
.light {
  font-family: PlayfairDisplaySCRegular;
}
/*============    Базовые настройки    ===========*/
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
/*============    ШАПКА    ===========*/
header p {
  vertical-align:middle;
  color: #62C2E4;
  font-family: PlayfairDisplaySCBold;
  margin: 0;
  padding: 0;
}
header .phone_number {
  text-align: left;
}
header .phone_number a {
  color: #62C2E4;
  display: inline-block;
}
.mid header .phone_number a:hover {
  text-decoration: none;
}
header .phone_number a:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/phone.png");
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}
.advantages {
  background: #FFF none repeat scroll 0 0;
  color: #000;
}
.advantages li {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 0;
  width: 33.3333%;
  border-left: 1px solid #777;
  font-size: 16px;
}
.advantages li em {
  display: block;
  font-style: normal;
  color: #777;
  font-size: 13px;
  width: 200px;
}
.advantages .first {
  padding-left: 65px;
  background: url('../images/b1.png') no-repeat;
  background-position: 0 50%;
}
.advantages .second {
  padding-left: 65px;
  background: url('../images/b2.png') no-repeat;
  background-position: 0 50%;
}
.advantages .third {
  padding-left: 65px;
  background: url('../images/b3.png') no-repeat;
  background-position: 0 50%;
}
/*============    НАВИГАЦИЯ    ===========*/



.carousel {
  margin-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  height: 400px;
  margin-bottom: 20px;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background: #FFFFFF;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 5%;
  bottom: auto;
  min-width: 100%;
  height: 400px;
  object-fit: contain;
}
section#types {
  color: #666666;
  padding-top: 50px;
}
section#types .section-header {
  margin-bottom: 50px;
}
section#types h4 {
  margin-top: 25px;
  text-transform: uppercase;
  font-family: PlayfairDisplaySCRegular;
}
.good-row{
  margin-bottom: 20px;
}
.more-btn {
  font-family: PlayfairDisplaySCBold;
  border: none;
  color: #62C2E4;
  border: 2px solid #62C2E4;
  padding: 10px 15px;
  background-color: transparent;
  text-transform: uppercase;
}
.more-btn:hover {
  background-color: #62C2E4;
  color: #fff;
}
.offer-btn {
  color: #62C2E4;
  border: 2px solid #62C2E4;
  padding: 10px 15px;
  background-color: #62C2E4;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: PlayfairDisplaySCBold;
  -moz-transition: all 0.1s 0.2s ease;
  -o-transition: all 0.1s 0.2s ease;
  -webkit-transition: all 0.1s 0.2s ease;
}
.offer-btn:hover {
  background-color: #fff;
  color: #62C2E4;
}
.item-more-btn{
  margin-left: 10px;
  border: 2px solid #62C2E4;
  padding: 10px 15px;
  background-color: #62C2E4;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: PlayfairDisplaySCBold;
  -moz-transition: all 0.1s 0.2s ease;
  -o-transition: all 0.1s 0.2s ease;
  -webkit-transition: all 0.1s 0.2s ease;
}
.item-more-btn:hover{
  background-color: #fff;
  color: #62C2E4;
}
.btn-item{
  font-family: PlayfairDisplaySCBold;
  color: #62C2E4;
  border: 2px solid #62C2E4;
  padding: 10px 15px;
  background-color: transparent;
  text-transform: uppercase;
}
.btn-item:hover {
  background-color: #62C2E4;
  color: #fff;
}
.card {
  -moz-transition: all 0.1s 0.2s ease;
  -o-transition: all 0.1s 0.2s ease;
  -webkit-transition: all 0.1s 0.2s ease;
  padding: 5px;
  border: 2px solid transparent;
}
.card:hover {
  border: 2px solid #62C2E4;
  background-color: #666;
}

.card-item{
  height: 300px;
  width: 280px;
  -moz-transition: all 0.1s 0.2s ease;
  -o-transition: all 0.1s 0.2s ease;
  -webkit-transition: all 0.1s 0.2s ease;
  border: 2px solid #fff;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  padding-bottom: 10px;

}
.item-name{
  margin: 0 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 14px;
}
footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #31b0d5;;
  color: #FFFFFF;
}
footer h3 {
  margin: 0;
  font-family: PlayfairDisplaySCBold;
  text-transform: uppercase;
}
footer h3 a {
  color: white;
}
footer h4 {
  font-family: PlayfairDisplaySCBlack;
  text-transform: uppercase;
}
address {
  margin-top: 10px;
  margin-left: 15px;
}
.footer-head{
  margin-left: 10px;
}

.footer-btn{
  color: #fff;
  display: inline-block;
  padding: 10px 50px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  text-decoration: none;
}
.footer-btn:hover{
  color:#555;
  background-color: #fff;
}
address p#address {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-family: PlayfairDisplaySCRegular;
}
address p#address:before {
  content: '';
  width: 15px;
  height: 15px;
  background: url("../images/to4ka.png") no-repeat center center;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
}
address p#don {
  font-size: 20px;
  font-family: PlayfairDisplaySCRegular;
}
.phone_footer {
  margin-left: 15px;
}
p#number{
  font-size: 18px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #31b0d5;
  overflow: hidden;
  cursor: pointer;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
.text_offset{
  margin-top: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5f778e;
  color: #fff
cursor: pointer;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5f778e;
  color: #fff;
  cursor: pointer;
}
.item-padge{
  width: 38px;
  padding: 7px 7px;
  text-align: center;
  font-size: 18px;
}
.style-item{
  color: #000;
  cursor: pointer;

}
.item-action{
  position: absolute;
  left: 0;
  bottom: 0;
}
.item-actions{
  position: absolute;
  bottom: 0;
  right: 10%;
  border: 1px solid #000;
}
.item-name{
  font-size: 14px;
  font-family:'Helvetica', Arial, sans-serif;
  font-style: italic;
  padding-top: 20px;
  color: #000;
  text-decoration: none !important;
}
.item-names{
  font-size: 16px;
  font-family:'Open Sans', sans-serif;
  font-style: italic;
  color: #000;
  text-decoration: none !important;
}

.price-item{
  padding-bottom: 10px;
  padding-left: 5px;
  color:#5f778e;
  padding-top: 5%;
  font-size: 18px;
  float: right;
}
.center-block{
  padding-top: 10px;
}
.btn-style{
  padding: 6px 12px;
  margin-right: 35px
}
/* Add a color to the active/current link */
.card-items{
  height: 250px;
  width: 250px;
  -moz-transition: all 0.1s 0.2s ease;
  -o-transition: all 0.1s 0.2s ease;
  -webkit-transition: all 0.1s 0.2s ease;
  border: 2px solid #fff;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  padding-bottom: 10px;}