<div>
    <div class="col-md-12" ng-if="goods.imagePath">
        <div class="col-md-6">
        <img ng-src="{{getPath(goods.imagePath)}}">
            <p ng-src="goods.price" >Цена:{{goods.price}}</p>
        </div>

        <div class="col-md-4">
            <p ng-src="goods.name">Название:{{goods.name}}</p>
            <p ng-src="goods.description">Описание:{{goods.description}}</p>
        </div>

        <div class="col-md-2">
            <span ng-click="addBasket(goods.code)"> Добавить в корзину</span>
        </div>

    </div>
    <a class="previous" ng-click="backToList()" style="cursor: pointer">
        <span>←</span>Вернуться к списку
    </a>
</div>