<div>
    <div>
        <div class="row" ng-repeat="row in rows">
                <div class="col-md-4" ng-repeat="item in row">
                    <a ng-click="go(item.id)">
                        <img ng-src={{getPath(item.imagePath)}}>
                        <br>
                        {{item.name}}
                    </a>
                </div>
        </div>
    </div>
    <div class="row">
        <nav class="text-center">
            <ul class="pagination pagination-lg ">
                <li class="{{backButtonState()}}" style="cursor: pointer">
                    <a ng-click="selectPage(1)">
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
                <li class="{{backButtonState()}}" style="cursor: pointer">
                    <a ng-click="back()">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
                <li>
                    <a><page-select></page-select> из {{pageCount}}</a>
                </li>
                <li class="{{nextButtonState()}}" style="cursor: pointer">
                    <a ng-click="next()">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
                <li class="{{nextButtonState()}}" style="cursor: pointer">
                    <a ng-click="selectPage(pageCount)">
                        <i class="fa fa-chevron-right"></i>
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>