
<div>
    <div class="good-row row" ng-repeat="row in rows">

        <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-4  col-xs-10 col-xs-offset-0" ng-repeat="item in row">
            <div class="card-item">
                <a class="style-item" ng-click="go(item.id)">
                    <img ng-src={{getPath(item.imagePath)}} class="center-block">

                    <div class="item-name">{{item.name.length > 50 ? item.name.substring(0, 50) + '...' : item.name}}
                    </div></a>

                <div class="item-action">
                    <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <button ng-click="go(item.id)" class="btn btn-info" data-toggle="modal" ng-href="#">Подробнее</button>
                    </div>

                    <div class="col-md-4 col-md-offset-1">
                        <button class="btn btn-info" data-toggle="modal" href="#">
                            В Корзину
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-8 col-md-offset-6">
                        <span class="price-item">{{item.price}} руб.</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <nav class="text-center">
        <ul class="pagination pagination-lg">
            <li class="{{backButtonState()}}" style="cursor: pointer">
                <a ng-click="selectPage(1)">
                    <i class="fa fa-chevron-left"></i>
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li class="{{backButtonState()}}" style="cursor: pointer">
                <a ng-click="back()">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li>
                <a style="padding-bottom:7px;padding-top:7px;"><page-select></page-select> из {{pageCount}}</a>
            </li>
            <li class="{{nextButtonState()}}" style="cursor: pointer">
                <a ng-click="next()">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li class="{{nextButtonState()}}" style="cursor: pointer">
                <a ng-click="selectPage(pageCount)">
                    <i class="fa fa-chevron-right"></i>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </nav>

</div>
</div>